<!doctype html>
<html>
  <head>
    <title>About <%=healthAppData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=healthAppData.appName%></h1>
    <p>Track your runs on this site!</p>
  </body>
</html>