<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Add a book</h1>
    <form method="POST" action="bookadded">
        <p>Book name: <input id="name" type="text" name="name" /></p>
        <p>Price: <input id="price" type="text" name="price" /></p>
        <input type="submit" value="Add Book" />
      </form>
  </body>
</html>