<!doctype html>
<html>
  <head>
    <title>Search <%=healthAppData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=healthAppData.appName%></h1>
    <form action="search_result" method="get">
      <p>Search routes below</p>
      <input id="search_result" type="text" name="search_result">
      <button type="submit">Search</button>
    </form>
  </body>
</html>