<!doctype html>
<html>
  <head>
    <title>Welcome to <%=healthAppData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=healthAppData.appName%> - Shorter Routes</h1>
    <h2>Here are our shorter routes:</h2>
    <table>
    <tr>
      <th>Route</th>
      <th>Distance (mi)</th>
    </tr>
    <% currentRoutes.forEach(function(route) { %>
        <tr>
          <td><%= route.name %></td>
          <td><%= route.distance %> mi</td>
        </tr>
    <% }); %>
    </table>
  </body>
</html>